body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 99%;
    padding: 10px;
    margin: 6px ;
    border: 1px solid #7a7064;
    border-radius: 4px;
}

button {
    width: 106%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #7a7064;
}

.error {
    color: #7a7064;
    font-size: 14px;
}